<h2> Login </h2>

<form id="form" method="post" action="/login">
  <input type="text" name="loginUsername" placeholder="Enter Username">
  <br>
  <input type="password" name="loginPassword" placeholder="Enter Password">
  <br>
  <button> Log In! </button>
</form>

<form id="form" action="/auth/facebook">
  <button> Facebook Login </button>
</form>
<form id="form" action="/auth/google">
  <button> Google Login </button>
</form>
